body {
  margin: 0 auto;
  width: 800px;
}

.main {
  width: 600px;
  margin: 0 auto;
  display: flex;
}

header {
  background-color: black;
  color: white;
  margin: 0;
}

#title {
  margin-top: 0;
  padding: 5px;
  text-align: center;
  font-size: 24px;
}

label {
  display: block;
}

#button {
  display: block;
  margin-top: 10px;
}

.formation {
  background-color: greenyellow;
  width: 300px;
  margin-left: 100px;
  margin-top: 50px;
  padding: 20px;
}
